.header {
  position: fixed;
  background-image: linear-gradient(
    to left,
    rgba(230, 188, 255, 0.795),
    rgb(216, 200, 198)
  );
  padding: 5px 8px;
}

body {
  background-image: linear-gradient(
    to right,
    rgba(175, 149, 190, 0.795),
    rgb(216, 81, 81)
  );
}

form {
  margin-top: 90px;
}

.pagination a {
  margin-top: 20px;
  text-decoration: dotted;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  
}
