h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(175, 149, 190, 0.795),
    rgb(216, 81, 81)
  );
  margin: 0px;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(97, 97, 97);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: rgb(150, 148, 148);
}
.navbar li {
  float: left;
}
.pagination {
  text-align: center;
}
.pagination a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: inline-block;
}

.pagination a.active {
  background-color: rgb(71, 248, 71);
  font-weight: bold;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: rgb(174, 177, 180);
  border-radius: 5px;
}

.navbar {
  background-color: rgb(75, 66, 66);
  height: 50px;
}

aside {
  width: 20%;
  float: left;
  padding: 10px;
}

section {
  width: 20%;
  float: left;
  padding: 10px;
}

article {
  width: 20%;
  float: left;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  aside,
  section,
  article {
    width: 100%;
  }
}
.box{
  width: 150px;
  height: 150px;
  font-size: 8rem;
  text-align: center;
  border-radius: 12px;
}
#box1{
  background-color: red;
}
#box2{
  background-color: rgb(57, 252, 40);
}
#box3{
  background-color: rgb(35, 236, 250);
}
#box4{
  background-color: rgb(134, 35, 247);
}
.container{
  display:flex;
  justify-content: space-evenly;
}
